<div class="card-body">
  <div class="task-content">
    <ul class="task-list list-unstyled">
      <li class='d-flex'>
        <div class="task-checkbox">
          <input type="checkbox"  value="">
        </div>
        <div class="task-input">
          <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
            <input type="text"
              [(ngModel)]="model.body"
              name="body"
              class="task-input"
              autofocus
              placeholder ='what to do'/>
          </form>
        </div>    
      </li>
      <li class='d-flex align-items-center' *ngFor="let todo of (todos$ | async).reverse()">
        <div class="task-checkbox">
          <input type="checkbox" value="" [checked]="todo.isComplete" (click)="toggleTodo(todo)">
        </div>
        <div class="task-title">
          <span class="">{{todo.body}}</span>
        </div>
        <div class="task-remover ml-auto">
          <button class='destroy btn btn-link' (click)="deleteTodo(todo)">
            X
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="task-footer d-flex">
    <button
      class="btn btn-primary ml-auto"
      (click)='clearTodos()'
      [disabled]="!((todos$ | async).length)"
      >CLEAR</button>
  </div>
</div>